body {
    background-color: black;
}

div, form, input {
    margin: 10px;
}

button, #add-gif {
    margin: 10px;
    background-color:rgba(192, 243, 255, 0.25);
}

.titleimg {
    margin: 10px;
    width: 700px;
}

.ratingDiv {
    text-transform: capitalize;
}

.container {
    background-image:
    url("../images/GOT-ravenCropJ2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

#gif-display {
    background-color:rgba(192, 243, 255, 0.4);
}